<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxb.prjms.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="com.zxb.prjms.bean.Task">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="projectid" jdbcType="INTEGER" property="projectid" />
    <result column="taskname" jdbcType="VARCHAR" property="taskname" />
    <result column="creatorid" jdbcType="VARCHAR" property="creatorid" />
    <result column="assignid" jdbcType="VARCHAR" property="assignid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="finishtime" jdbcType="TIMESTAMP" property="finishtime" />
    <result column="power" jdbcType="INTEGER" property="power" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <resultMap id="WithPrjResultMap" type="com.zxb.prjms.bean.Task">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="projectid" jdbcType="INTEGER" property="projectid" />
    <result column="taskname" jdbcType="VARCHAR" property="taskname" />
    <result column="creatorid" jdbcType="VARCHAR" property="creatorid" />
    <result column="assignid" jdbcType="VARCHAR" property="assignid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="finishtime" jdbcType="TIMESTAMP" property="finishtime" />
    <result column="power" jdbcType="INTEGER" property="power" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="content" jdbcType="VARCHAR" property="content" />
   <!-- 指定联合查询出的项目字段的封装 -->
   <association property="project" javaType="com.zxb.prjms.bean.Project">
   	<id column="projectname" property="projectname"/>
   	<id column="prjcreatorid" property="creatorid"/>
   </association>
  </resultMap>
  <sql id="Example_Where_Clause_t">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and t.${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and t.${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and t.${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and t.${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, projectid, taskname, creatorid, assignid, createtime, finishtime, power, status, 
    content
  </sql>
   <sql id="WithPrj_Column_List">
    t.id, t.projectid, t.taskname, t.creatorid, t.assignid, t.createtime, t.finishtime, t.power, t.status, 
    t.content,p.projectname,p.creatorid prjcreatorid
  </sql>
  <!-- 查询带项目 -->
  <select id="selectByExampleWithPrj" parameterType="com.zxb.prjms.bean.TaskExample" resultMap="WithPrjResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="WithPrj_Column_List" />
    from pm_task t left join pm_project p on t.projectid=p.id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause_t" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKeyWithPrj" parameterType="java.lang.Integer" resultMap="WithPrjResultMap">
    select 
    <include refid="WithPrj_Column_List" />
    from pm_task t left join pm_project p on t.projectid=p.id
    where t.id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 查询不带项目 -->
  <select id="selectByExample" parameterType="com.zxb.prjms.bean.TaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pm_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pm_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pm_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zxb.prjms.bean.TaskExample">
    delete from pm_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxb.prjms.bean.Task">
    insert into pm_task (id, projectid, taskname, 
      creatorid, assignid, createtime, 
      finishtime, power, status, 
      content)
    values (#{id,jdbcType=INTEGER}, #{projectid,jdbcType=INTEGER}, #{taskname,jdbcType=VARCHAR}, 
      #{creatorid,jdbcType=VARCHAR}, #{assignid,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{finishtime,jdbcType=TIMESTAMP}, #{power,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxb.prjms.bean.Task">
    insert into pm_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectid != null">
        projectid,
      </if>
      <if test="taskname != null">
        taskname,
      </if>
      <if test="creatorid != null">
        creatorid,
      </if>
      <if test="assignid != null">
        assignid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="finishtime != null">
        finishtime,
      </if>
      <if test="power != null">
        power,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectid != null">
        #{projectid,jdbcType=INTEGER},
      </if>
      <if test="taskname != null">
        #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="creatorid != null">
        #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="assignid != null">
        #{assignid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null">
        #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="power != null">
        #{power,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxb.prjms.bean.TaskExample" resultType="java.lang.Long">
    select count(*) from pm_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pm_task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectid != null">
        projectid = #{record.projectid,jdbcType=INTEGER},
      </if>
      <if test="record.taskname != null">
        taskname = #{record.taskname,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorid != null">
        creatorid = #{record.creatorid,jdbcType=VARCHAR},
      </if>
      <if test="record.assignid != null">
        assignid = #{record.assignid,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finishtime != null">
        finishtime = #{record.finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.power != null">
        power = #{record.power,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pm_task
    set id = #{record.id,jdbcType=INTEGER},
      projectid = #{record.projectid,jdbcType=INTEGER},
      taskname = #{record.taskname,jdbcType=VARCHAR},
      creatorid = #{record.creatorid,jdbcType=VARCHAR},
      assignid = #{record.assignid,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      finishtime = #{record.finishtime,jdbcType=TIMESTAMP},
      power = #{record.power,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxb.prjms.bean.Task">
    update pm_task
    <set>
      <if test="projectid != null">
        projectid = #{projectid,jdbcType=INTEGER},
      </if>
      <if test="taskname != null">
        taskname = #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="creatorid != null">
        creatorid = #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="assignid != null">
        assignid = #{assignid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null">
        finishtime = #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="power != null">
        power = #{power,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxb.prjms.bean.Task">
    update pm_task
    set projectid = #{projectid,jdbcType=INTEGER},
      taskname = #{taskname,jdbcType=VARCHAR},
      creatorid = #{creatorid,jdbcType=VARCHAR},
      assignid = #{assignid,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      finishtime = #{finishtime,jdbcType=TIMESTAMP},
      power = #{power,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>